.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-left: 6px solid #007bff;
    border-radius: 12px;
    padding: 16px 20px;
    width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s;
    text-align: left;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 8px;
}

.card-value {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 6px;
}

.card-description {
    font-size: 14px;
    color: #666;
}

/* Quando a tela for maior que 800px */
@media (min-width: 801px) {
    #grafico {
        margin: 0 auto;
        height: 300px !important;
    }
}

#loading{
    text-align: center;
    font-size: 3vh;
}